<h1>Book Orbit</h1>

<p>Book Orbit is an open source project. It is a resource database that enables you to store your bookmarks (resources) independent of your browser, and organize them in a way that is independent of folder structures.</p>

<p>We are continually improving on Book Orbit and appreciate any feedback. Any feature requests or issues can be posted in the Github repository <a href="http://github.com/astopo/book-orbit-rails/issues">here</a>.</p>

<p>Contributers</p>
<ul>
  <li>Amy Soetopo [github link] [linkedin]</li>
  <li>Kenn Wang [github link] [linkedin]</li>
</ul>