<div class="home">
    <div class="homepage">
        <div class="content">
           <img src="/img/book-orbit-white.png" class="logo">
           <br><br>
           <h3>Start a new library:</h3>
           <h3>bookorb.it/[librarynamehere]</h3>

           <p>About | Contact | Feedback</p>
        </div>
    </div>
</div>
