@import 'side-menu-old-ie.css';
@import 'side-menu.css';
@import url(http://fonts.googleapis.com/css?family=Quicksand);

/* Layout */

body {
  background: url('../img/background.png') repeat repeat;
  font-family: 'Quicksand', sans-serif;
}

#layout.home {
  background: #333;
  height: 100%;
}

.clear {
  clear:both;
}

.pure-g [class *="pure-u"] {
  font-family: 'Quicksand' sans-serif;
}

a:link,
a:visited {
  color: #222;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover,
a:active {
  color: #777;
  transition: color 0.2s ease;
}

#menu a {
  color: #fff;
}

hr {
  border: 1px solid #333;
}

.meta {
  font-size: 0.75em;
}

/* Home Page */

.homepage {
  text-align:center;
}

.homepage .logo {
  max-height: 300px;
  margin-left: -230px;
  margin-top: 20%;
}


/* User Library Pages */

/* Sidebar */

#menu {
  background: #222;
  padding: 10px 15px;
}

.search-more {
  display: none;
}

.collection-input {
  margin-bottom: 1em;
  height: 25px;
}

.hide,
a.hide {
  display: none;
}

.add-collection-input {
  margin-top: 3px;
  margin-left: 10px;
  padding: 2px 5px;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

#menu a.show-form {
  display: inline;
  padding: .45em .9em;
  color: #222;
}

/* Content Layout */

.bookmarks-container {
  -moz-column-count: 2;
  -moz-column-gap: 13px;
  -webkit-column-count: 2;
  -webkit-column-gap: 13px;
  column-count: 2;
  column-gap: 13px;
}

.bookmark {
  position: relative;
  margin: 10px 3px;
  padding: 10px 15px 1px;
  background: #fff;
  box-shadow: 0px 0px 3px #777;
  word-wrap: break-word;
  transition: background 0.2s ease;
  height: 100%;
}

.bookmark:hover {
  background: #f8f8f8;
  transition: background 0.2s ease;
}

.bookmark h4 {
  margin-top: 0.2em;
}

.bookmark h4 a {
  font-weight: bold;
}

.delete {
  display: none;
  position: absolute;
  top: -2px;
  right: 5px;
}

.delete-collection {
  position: relative;
}

.meta {
  float: left;
  margin-right: 1em;
}

.add-to {
  display: none;
}

.delete-collection {
  display: none;
  margin-left: -0.5em;
  margin-top: 0.8em;
}

button.delete-button {
  padding: 0px 4px 2px;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.7em;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 0px;
}

button.delete-button:hover {
  background-color: #333;
  border: 1px solid #fff;
  color: #fff;
}

button.delete-button.delete-button-collection {
  padding: 0px 4px 2px;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.7em;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 0px;
}

button.delete-button.delete-button-collection:hover {
  background-color: #333;
  border: 1px solid #fff;
  color: #fff;
}

form.delete-collection-form {
  display: inline;
}

/* Forms */

.pure-form input{
  width: 155px;
}

.pure-button {
  padding: 0.5em 0.8em;
}

.pure-form input[type=text],
.pure-form input[type=password],
.pure-form input[type=email],
.pure-form input[type=url],
.pure-form input[type=date],
.pure-form input[type=month],
.pure-form input[type=time],
.pure-form input[type=datetime],
.pure-form input[type=datetime-local],
.pure-form input[type=week],
.pure-form input[type=number],
.pure-form input[type=search],
.pure-form input[type=tel],
.pure-form input[type=color],
.pure-form select,
.pure-form textarea {
  padding: .45em .5em;
}

/* Form Colours */

.sidebar-button {
  background: #fff;
  color: #222;
}