<%= erb :'users/menu' %>

    <div id="main">

        <div class="content">

          <p>Incorrect password, please try again.</p>
          <form method="post" action="/<%= @user.username %>/login">
              <p>Please enter your password</p>
              <input type="password" name="password" value="">

              <input type="submit" value="Submit">
          </form>

        </div>
    </div>
