<%= erb :'users/menu' %>

    <div id="main">

        <div class="content">

          <form method="post" action="/<%= @user.username %>/login" class="pure-form">
              <p>Please enter your password:</p>
              <input type="password" name="password" value="">

              <input type="submit" value="Submit" class="pure-button login-button">
          </form>

        </div>
    </div>
