<%= erb :'users/menu' %>

    <div id="main">

        <div class="content">

          <form method="post" action="/<%= @user.username %>/password-protect">
              <p>To claim this page and prevent others from modifying it -
              </br></br> Please choose a password:</p>
              <input type="password" name="password" value="">

              <input type="submit" value="Submit">
          </form>

        </div>
    </div>
